aiocoingecko==1.0.0
aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.8.0" and python_version < "4"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0" and python_version < "4"
aiosqlite==0.17.0; python_version >= "3.7" and python_version < "4.0"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0" and python_version < "4"
asyncpg==0.25.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.8.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.7" and python_version < "4" and python_full_version >= "3.5.0")
base58==2.1.1; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
bitarray==1.2.2; python_version >= "3.6" and python_version < "4"
certifi==2021.10.8; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2" and python_full_version < "3.7.0" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.0" and python_full_version < "3.7.1" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
charset-normalizer==2.0.12; python_full_version >= "3.8.0" and python_version >= "3.6" and python_version < "4" and (python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "4" and python_full_version < "3.7.0" or python_full_version > "3.7.0" and python_version >= "3.6" and python_version < "4" and python_full_version < "3.7.1" or python_full_version > "3.7.1" and python_version >= "3.6" and python_version < "4")
coinmarketcap-utils @ file:///Stonks/coinmarketcap_utils/dist/coinmarketcap_utils-0.1.0.tar.gz; python_version >= "3.6"
cytoolz==0.11.2; python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" and implementation_name == "cpython" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6" and implementation_name == "cpython"
eth-abi==2.1.1; python_version >= "3.6" and python_version < "4"
eth-account==0.5.7; python_version >= "3.6" and python_version < "4"
eth-hash==0.3.2; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6")
eth-keyfile==0.5.1; python_version >= "3.6" and python_version < "4"
eth-keys==0.3.4; python_version >= "3.6" and python_version < "4"
eth-rlp==0.2.1; python_version >= "3.6" and python_version < "4"
eth-typing==2.3.0; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6")
eth-utils==1.10.0; python_version >= "3.6" and python_full_version < "3.5.2" and python_version < "4" or python_full_version > "3.5.2" and python_version < "4" and python_version >= "3.6"
frozenlist==1.3.0; python_version >= "3.7" and python_full_version >= "3.8.0" and python_version < "4"
hexbytes==0.2.2; python_version >= "3.6" and python_version < "4"
html5lib==1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
idna==3.3; python_full_version >= "3.8.0" and python_version >= "3.6" and python_version < "4"
importlib-resources==5.7.1; python_version >= "3.7" and python_version < "3.9"
inflection==0.5.1; python_version >= "3.5"
ipfshttpclient==0.8.0a2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
iso8601==0.1.16; python_version >= "3.7" and python_version < "4.0"
jsonschema==4.4.0; python_version >= "3.7" and python_version < "4"
kaleido==0.2.1; sys_platform == "linux"
kaleido==0.2.1; sys_platform == "win32"
lru-dict==1.1.7
multiaddr==0.0.9; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.8.0" and python_version < "4"
netaddr==0.8.0; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
numpy==1.22.3
pandas==1.4.2; python_version >= "3.8"
parsimonious==0.8.1; python_version >= "3.6" and python_version < "4"
plotly==5.7.0; python_version >= "3.6"
protobuf==3.20.1; python_version >= "3.7" and python_version < "4"
py-cord @ git+https://github.com/Pycord-Development/pycord.git@master ; python_full_version >= "3.8.0"
pycryptodome==3.14.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version >= "3.5.0"
pypika-tortoise==0.1.4; python_version >= "3.7" and python_version < "4.0"
pyrsistent==0.18.1; python_version >= "3.7" and python_version < "4"
python-coinmarketcap==0.3
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dotenv==0.19.2; python_version >= "3.5"
pytz==2022.1; python_version >= "3.8" and python_version < "4.0"
pywin32==304; python_version >= "3.6" and python_version < "4" and platform_system == "Windows"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rlp==2.0.1; python_version >= "3.6" and python_version < "4"
six==1.16.0; python_full_version >= "3.6.2" and python_version >= "3.8" and python_version < "4" and python_full_version < "3.7.0" or python_full_version > "3.7.0" and python_version >= "3.8" and python_version < "4" and python_full_version < "3.7.1" or python_full_version > "3.7.1" and python_version >= "3.8" and python_version < "4"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
tenacity==8.0.1; python_version >= "3.6"
toolz==0.11.2; python_version >= "3.5"
tortoise-orm==0.18.1; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.2.0; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.9; python_full_version >= "3.6.2" and python_version < "4" and python_version >= "3.6" and python_full_version < "3.7.0" or python_full_version > "3.7.0" and python_version < "4" and python_version >= "3.6" and python_full_version < "3.7.1" or python_full_version > "3.7.1" and python_version < "4" and python_version >= "3.6"
varint==1.0.2; python_full_version >= "3.6.2" and python_full_version < "3.7.0" and python_version >= "3.6" and python_version < "4" or python_full_version > "3.7.0" and python_full_version < "3.7.1" and python_version >= "3.6" and python_version < "4" or python_version >= "3.6" and python_version < "4" and python_full_version > "3.7.1"
web3==5.29.0; python_version >= "3.6" and python_version < "4"
webencodings==0.5.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
websockets==9.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.1"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.8.0" and python_version < "4"
zipp==3.8.0; python_version >= "3.7" and python_version < "3.9"
